$base: #ffc600;
$spacing: 10px;
$blur: 1px;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    position: absolute;
    top: 35%;
    color: $base;
  }

  .sunset {
    position: absolute;
    top: 60%;
    left: auto;
    width: 30vw;
    height: 30vh;
  }

  img {
    padding: $spacing;
    background: $base;
    filter: blur($blur);
  }
}
